<footer class="footer">
  <div class="wrapper">
    <a class="footer__link" href="/"></a>
      <div class="footer_flex-container">
        <nav class="footer__nav">
          <ul class="footer__nav-list list">
            <li class="footer__nav-list-item n-item-1">Articles</li>
            <li class="footer__nav-list-item n-item-2">Events</li>
            <li class="footer__nav-list-item n-item-3">Reasons</li>
            <li class="footer__nav-list-item n-item-4">Tips</li>
            <li class="footer__nav-list-item n-item-5">Books</li>
          </ul>
        </nav>
        <ul class="footer__social-list list">
          <li class="footer__social-list-item s-item-1">Twitter</li>
          <li class="footer__social-list-item s-item-2">Instagram</li>
          <li class="footer__social-list-item s-item-3">Mastodon.social</li>
        </ul>
        <div class="footer__copy">
          <p class="footer__text">©2017</p>
          <p class="footer__text">we <span class="footer__copy-heart">❤</span> components</p>
        </div>
    </div>
  </div>
</footer>
