<footer class="footer">
  <div class="wrapper">
    <a class="footer__link" href="#hero-anchor"></a>
    <div class="footer_flex-container">
      <nav class="footer__nav">
        <ul class="footer__nav-list list">
          <li class="footer__nav-list-item n-item-1">
            <a class="footer__link-to" href="#" target="_blank">Articles</a>
          </li>
          <li class="footer__nav-list-item n-item-2">
            <a class="footer__link-to" href="#" target="_blank">Events</a>
          </li>
          <li class="footer__nav-list-item n-item-3">
            <a class="footer__link-to" href="#" target="_blank">Reasons</a>
          </li>
          <li class="footer__nav-list-item n-item-4">
            <a class="footer__link-to" href="#" target="_blank">Tips</a>
          </li>
          <li class="footer__nav-list-item n-item-5">
            <a class="footer__link-to" href="#" target="_blank">Books</a>
          </li>
        </ul>
      </nav>
      <ul class="footer__social-list list">
        <li class="footer__social-list-item s-item-1">
          <a class="footer__link-to" href="#" target="_blank">Twitter</a>
        </li>
        <li class="footer__social-list-item s-item-2">
          <a class="footer__link-to" href="#" target="_blank">Instagram</a>
        </li>
        <li class="footer__social-list-item s-item-3">
          <a class="footer__link-to" href="#" target="_blank"
            >Mastodon.social</a
          >
        </li>
      </ul>
      <div class="footer__copy">
        <p class="footer__text">©2017</p>
        <p class="footer__text">
          we <span class="footer__copy-heart">❤</span> components
        </p>
      </div>
    </div>
  </div>
</footer>
