<section class="reasons">
  <div class="wrapper">
    <h2 class="reasons__title">
      3 Reasons To purchase
    </h2>
    <ul class="reasons__list-container">
      <li class="reasons__list-item item-1">
        <partial src="_reasons-p.html" razon="Ut sed metus" texto="Lorem ipsum dolor sit amet, consecteur.">
        </partial>
      </li>
      <li class="reasons__list-item item-2">
        <partial src="_reasons-p.html" razon="Curabitur ac erat" texto="Mauris mattis urna quis lorem molestie.">
        </partial>
      </li>
      <li class="reasons__list-item item-3">
        <partial src="_reasons-p.html" razon="Morbi dictum" texto="Aliquam in dolor et dolor tincidunt.">
        </partial>
      </li>
    </ul>
    <div class="reasons__button-container">
      <button class="reasons__button">
        More reasons
      </button>
    </div>
  </div>
</section>
