<section class="reasons">
  <div class="wrapper">
    <div class="reasons__grid-container">
      <h2 class="reasons__title">
        3 Reasons To purchase
      </h2>
      <div class="reasons__item item-1">
        <h3 class="reasons__item-title">
          Ut sed metus
        </h3>
        <p class="reasons__item-text">
          Lorem ipsum dolor sit amet, consecteur.
        </p>
      </div>
      <div class="reasons__item item-2">
        <h3 class="reasons__item-title">
          Curabitur ac erat
        </h3>
        <p class="reasons__item-text">
          Mauris mattis urna quis lorem molestie.
        </p>
      </div>
      <div class="reasons__item item-3">
        <h3 class="reasons__item-title">
          Morbi dictum
        </h3>
        <p class="reasons__item-text">
          Aliquam in dolor et dolor tincidunt.
        </p>
      </div>
      <div class="reasons__button-container">
        <button class="reasons__button">
            More reasons
        </button>
      </div>
    </div>
  </div>
</section>
