<section class="reasons">
  <div class="wrapper">
    <h2 class="reasons__title">
      3 Reasons To purchase
    </h2>
    <ul class="reasons__list-container">
      <li class="reasons__list-item item-1">
        <h3 class="reasons__item-title">
          Ut sed metus
        </h3>
        <p class="reasons__item-text">
          Lorem ipsum dolor sit amet, consecteur.
        </p>
      </li>
      <li class="reasons__list-item item-2">
        <h3 class="reasons__item-title">
          Curabitur ac erat
        </h3>
        <p class="reasons__item-text">
          Mauris mattis urna quis lorem molestie.
        </p>
      </li>
      <li class="reasons__list-item item-3">
        <h3 class="reasons__item-title">
          Morbi dictum
        </h3>
        <p class="reasons__item-text">
          Aliquam in dolor et dolor tincidunt.
        </p>
      </li>
    </ul>
      <div class="reasons__button-container">
        <button class="reasons__button">
            More reasons
        </button>
      </div>
    </div>
  </div>
</section>
