.footer {
  background-color: $color_dark-grey-blue;
  text-align: center;
}
.footer__link {
  @include footer-icon-link;
  transform: translateY(-50%);
  margin-bottom: 15px;
}
.footer__link:hover{
  transform: scale(1.5) translateY(-40%);
}
.footer__nav {
  margin-bottom: 30px;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__social-list {
  margin-bottom: 30px;
}
.footer__link-to{
  @include footer-links-text;
}
.footer__link-to:hover{
  color: $color_bright-orange;
  text-decoration: underline;
  transition: color ease-in-out .5s;
}
.footer__text {
  @include footer-copy-text;
  margin: 0;
}
.footer__copy{
  margin-bottom: 45px;
}
.footer__copy-heart {
  color: $color_bright-orange;
  &:hover{
  color: $color_white;
  transform: scale(10);
  transition: color ease 2s, scale ease 1s;
  }
}

@media all and (min-width:768px){
  .footer_flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }
  .footer__nav{
  order: 1;
  }
  .footer__social-list{
  order: 2;
  }
  .footer__copy{
  order: 0;
  }
  .list {
    text-align: left;
  }
  .footer__link-to{
    @include footer-links-text-768;
  }

  .footer__text {
    @include footer-copy-text-768;
    text-align: left;
  }
}

@media all and (min-width:1100px){
  .footer_flex-container{
    max-width: 730px;
    justify-content: space-around;
    margin:auto;
  }
  .footer__link-to{
    @include footer-links-text-1100;
  }

  .footer__text {
    @include footer-copy-text-1100;
  }
}
