.footer {
  background-color: $color_dark-grey-blue;
  text-align: center;
}
.footer__link {
  transform: translateY(-50%);
  text-align: center;
  display: inline-block;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
  background-color: $color-white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-image: url("../images/ico-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  margin-bottom: 15px;
}
.footer__nav {
  margin-bottom: 30px;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__social-list {
  margin-bottom: 30px;
}
.footer__link-to{
  @include footer-links-text;
}
.footer__text {
  @include footer-copy-text;
  margin: 0;
}
.footer__copy{
  margin-bottom: 45px;
}
.footer__copy-heart {
  color: $color_white;
  &:hover{
  color: $color_bright-orange;
  }
}

@media all and (min-width:768px){
  .footer_flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }
  .footer__nav{
  order: 1;
  }
  .footer__social-list{
  order: 2;
  }
  .footer__copy{
  order: 0;
  }
  .list {
    text-align: left;
  }
  .footer__link-to{
    @include footer-links-text-768;
  }
  .footer__text {
    @include footer-copy-text-768;
    text-align: left;
  }
}

@media all and (min-width:1100px){
  .footer_flex-container{
    max-width: 730px;
    justify-content: space-around;
    margin:auto;
  }
  .footer__link-to{
    @include footer-links-text-1100;
  }

  .footer__text {
    @include footer-copy-text-1100;
  }
}
