.reasons {
  background-color: $color_ice-blue;
  text-align: center;
  padding: 30px 0 60px 0;
}
.reasons__title {
  margin: 0;
  @include reasons-section-title();
}
.reasons__list-container {
  list-style: none;
  padding: 0;
  margin: 45px 0;
}
.reasons__list-item {
  margin-bottom: 45px;
}
.reasons__list-item:last-child {
  margin-bottom: 0;
}
.reasons__item-title {
  margin: 0;
  @include reasons-title;
}
.reasons__item-text {
  margin: 0;
  @include reasons-text;
}

//MEDIA 768px
@media all and (min-width: 768px) {
  .reasons__list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin: 45px 0 60px 0;
  }
  .reasons__list-item {
    margin-bottom: 0px;
  }
  .item-1 {
    grid-column: 1/2;
  }
  .item-2 {
    grid-column: 2/3;
  }
  .item-3 {
    grid-column: 3/4;
  }
  .reasons__title {
    @include reasons-section-title-768;
  }
  .reasons__item-title {
    margin-bottom:14px;
    @include reasons-title-768;
  }
  .reasons__item-text {
    @include reasons-text-768;
  }
}

//MEDIA 1100px
@media all and (min-width: 1100px) {
  .reasons {
    padding: 60px 0;
  }
  .reasons__title {
    @include reasons-section-title-1100;
  }
  .reasons__item-title {
    @include reasons-title-1100;
  }
  .reasons__item-text {
    @include reasons-text-1100;
  }
}
