.purchase {
  background-color: $color_ice-blue;
  text-align: center;
  padding: 30px 0 60px 0;
}

.purchase__title {
  margin: 0;
  @include purchase-section-title();
}
.purchase__item {
  margin: 0;
}

.purchase__item-title {
  margin: 0;
  @include purchase-title;
}
.purchase__item-text {
  margin: 0;
  @include purchase-text;
}


// .purchase__grid-container { }
// .item-1 { }
// .item-2 { }
// .item-3 { }
