.hero {
  background-image: url("../images/cover.jpg");
  @include hero-image();
  min-height: 300px;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
.hero__container {
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
}
.hero__text-container {
  display: inline-block;
  width: 100%;
  max-width: 400px;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.hero__title {
  margin: 0;
  padding: 0;
  @include h1-font();
}
.hero__text {
  margin: 0;
  padding: 0;
  @include subtitle-font;
}

.hero__icon-link {
  transform: translateX(-50%);
  transform-origin: center center;
  @include hero-icon-link();
  position: absolute;
  left: 50%;
  bottom: 53px;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
.hero__icon-link:hover {
  border: 2px solid $color_bright-orange;
  transform: translateX(-50%) scale(1.1);
  transition: transform ease-in-out 0.8s, border ease 1s;
}
@keyframes bounce {
  from {
    transform: translateX(-50%) scale(10);
  }
  to {
    transform: translateX(-50%) scale(1);
  }
}

//MEDIA 768px
@media all and (min-width: 768px) {
  .hero__text-container {
    max-width: 690px;
  }
  .hero__icon-link {
    bottom: 45px;
  }
  .hero__title {
    @include h1-font-768();
  }
  .hero__text {
    @include subtitle-font-768;
  }
}

//MEDIA 1100px
@media all and (min-width: 1100px) {
  .hero__text-container {
    max-width: 730px;
  }
  .hero__icon-link {
    bottom: 13px;
  }
  .hero__title {
    @include h1-font-1100();
  }
  .hero__text {
    @include subtitle-font-1100;
  }
}
