.article {
  padding: 30px 0 45px 0;
  box-sizing: border-box;
  background-color: $color_white;
}
.article__anchor-class {
  position: relative;
  top: -44px;
}
.article__container {
  max-width: 730px;
  margin: auto;
}
.article__small-text {
  margin: 0;
  @include article-small();
}
.article__title {
  margin: 0;
  @include article-title();
}
.article__text {
  margin: 0;
  @include article-text();
}
.article__link {
  display: block;
  height: 45px;
  width: 74px;
  border-radius: 22.5px;
  background-color: $color_white;
  border: solid 2px $color_bright-orange;
  text-align: center;
  @include go-text();
}
.article__link:hover {
  background-color:$color_bright-orange;
  border: solid 2px $color_bright-orange;
  color: $color_white;
  transition: background-color ease 1s, color ease 1s;
}

//MEDIA 768px
@media all and (min-width-768px) {
  .article {
    padding: 30px 0 60px 0;
  }
  .article__small-text {
    margin: 0;
    @include article-small-768();
  }
  .article__title {
    margin: 0;
    @include article-title-768();
  }
  .article__text {
    margin: 0;
    @include article-text-768();
  }
  .article__link {
    display: block;
    height: 45px;
    width: 90px;
    border-radius: 22.5px;
    background-color: $color_white;
    border: solid 2px $color_bright-orange;
    text-align: center;
    @include go-text-768();
  }
}

//MEDIA 1100px
@media all and (min-width-1100px) {
  .article {
    padding: 60px 0;
  }
  .article__small-text {
    @include article-small-1100();
  }
  .article__title {
    @include article-title-1100();
  }
  .article__text {
    @include article-text-1100();
  }
  .article__link {
    display: block;
    height: 45px;
    width: 160px;
    border-radius: 22.5px;
    background-color: $color_white;
    border: solid 2px $color_bright-orange;
    text-align: center;
    @include go-text-1100();
  }
}
