.hero {
  background-image: url("../images/cover.jpg");
  @include hero-image();
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
.hero__container{
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
}
.hero__text-container{
  display: inline-block;
  width: 100%;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.hero__title{
  margin:0;
  padding:0;
  @include h1-font();
}
.hero__text{
  margin: 0;
  padding:0;
  @include subtitle-font;
}

.hero__icon-link{
  transform: translateX(-50%);
  @include hero-icon-link ();
  position: absolute;
  left: 50%;
  top: 85%;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
.hero__icon-link:hover{
  border: 2px solid $color_bright-orange;
  transform: scale(1.5);
  transition: transform ease-in-out .8s, border ease 1s;
}
@keyframes bounce {
  from {
    transform: scale(10);
  }
  to {
    transform: scale(1);
  }
}


@media all and (min-width:768px){
  .hero__text-container{
    max-width: 690px;
  }
  .hero__icon-link{
    top: 90%;
  }
  .hero__title{
    @include h1-font-768();
  }
  .hero__text{
    @include subtitle-font-768;
  }
}

@media all and (min-width:1100px){
  .hero__text-container{
    max-width: 730px;
  }
  .hero__icon-link{
    top: 92%;
  }
  .hero__title{
    @include h1-font-1100();
  }
  .hero__text{
    @include subtitle-font-1100;
  }
}
