.menu__button{
  background-color: $color_cerulean;
  height: 44px;
  width: 44px;
  cursor: pointer;
}

.reasons__button{
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: $color_bright-orange;
  cursor: pointer;
  @include reasons__button-text;
}
