.menu__button {
  background-color: $color_cerulean;
  height: 44px;
  width: 44px;
  cursor: pointer;
  border: 0;
}

.reasons__button {
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: $color_bright-orange;
  cursor: pointer;
  @include reasons__button-text;
}

//MEDIA 768px
@media all and (min-widht: 768px) {
  .reasons__button {
    width: 210px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $color_bright-orange;
    cursor: pointer;
    @include reasons__button-text-768;
  }
}

//MEDIA 1100px
@media all and (min-widht: 1100px) {
  .reasons__button {
    width: 255px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $color_bright-orange;
    cursor: pointer;
    @include reasons__button-text-1100;
  }
}
