.wrapper {
  margin: 0 15px;
  box-sizing: border-box;
  height: 100%;
}

      //-- MEDIA 768px
@media all and (min-width: 768px) {
  .wrapper {
    margin: 0 40px;
  }
}

      //-- MEDIA 1110px
@media all and (min-width: 1100px) {
  .wrapper {
    margin: 0 85px;
  }
}
