.wrapper{
  margin: 0 15px;
  box-sizing: border-box;
  height: 100%;
}

@media all and (min-width: 768px){
  .wrapper{
    margin: 0 39px;
  }
}

@media all and (min-width: 1200px){
  .wrapper{
    margin: 0 85px;
  }
}
