// COLOR VARIABLES
$color_lightblue: #8ccbea;
$color_black: #000000;
$color_bright-orange: #f26002;
$color_cerulean: #0271bc;
$color_ice-blue: #eff9ff;
$color_greyish-brown: #4a4a4a;
$color_dark-grey-blue: #304268;
$color_white: #ffffff;

// FONT VARIABLES
$font_family-Roboto: "Roboto", sans-serif;
$font_family-RobotoS: "Roboto Slab", serif;
$font_size: 16px;

$font_weight-regular:400;
$font_weight-medium: 500;
$font_weight-bold: 700;

$n: 1;
